.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999999999;
    background-color: var(--dark-color);
}

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
    scale: .5;
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent , var(--main-color-1));
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
}

.loader::after {
    content: "";
    position: absolute;
    top: -4%;
    left: 45%;
    width: 33px;
    height: 33px;
    background-color: var(--main-color-2);
    border-radius: 50%;
    box-shadow:
        0 0 10px var(--main-color-2),
        0 0 20px var(--main-color-2),
        0 0 30px var(--main-color-2),
        0 0 40px var(--main-color-2),
        0 0 50px var(--main-color-2);
}

.loader span {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: var(--dark-color);
    border-radius: 50%;
}


@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 992px) {
    .loader {
        scale: .3;
    }
}