.pricing {
    background: #110D18;
    overflow-x: hidden;
}

.pricing .container {
    margin: 0 auto;
    width: fit-content;
    max-width: 1466px;
    text-align: center;
    padding: 100px 0;
}

.pricing .container h1 {
    color: var(--white-color);
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize
}


.pricing .container h3 {
    color: var(--white-color);
    font-size: 29px;
    font-weight: 400;
    line-height: 120%
}


.pricing .container .pricing-section .btn-section {
    align-items: center;
    background: #302f47;
    border-radius: 36px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 64px auto 0;
    padding: 3px;
    width: 468px
}

.pricing .container .pricing-section .btn-section .btn-pricing {
    align-items: center;
    border-radius: 36px;
    color: var(--white-color);
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    line-height: 140%;
    padding: 9px 20px;
    width: 50%;
    background-color: transparent;
}

.pricing .container .pricing-section .btn-section .btn-pricing span {
    color: #9e5cf4;
}

.pricing .container .pricing-section .btn-section .btn-pricing.active {
    background: var(--primary-gradient, linear-gradient(90deg, #9e5cf4 4.6%, #5b69e6 330.22%));
    border-radius: 36px;
    box-shadow: 1px 1px 9px 0 rgba(5, 36, 60, .23)
}

.pricing .container .pricing-section .btn-section .btn-pricing.active span {
    color: var(--white-color)
}



.pricing .container .pricing-section .card-section {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 70px;
    margin-top: 72px;
    padding: 0 100px
}

@media screen and (max-width:1200px) {
    .pricing .container .pricing-section .card-section {
        flex-wrap: wrap;
    }
}


@media screen and (max-width:992px) {
    .pricing .container {
        padding: 50px 20px;
    }

    .pricing .container h1,
    .pricing .container h1 span {
        font-size: 26px
    }

    .pricing .container h3 {
        font-size: 18px;
        font-style: normal
    }

    .pricing .container .pricing-section .btn-section {
        margin-top: 30px;
        max-width: calc(100vw - 40px);
    }

    .pricing .container .pricing-section .btn-section .btn-pricing {
        font-size: 14px;
        padding: 8px 12px;
    }

    .pricing .container .pricing-section .card-section {
        max-width: calc(100vw - 40px);
        margin-top: 60px;
        padding: 0
    }

}