.features{
    background: #110d18;
    padding: 100px 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */

}


@media screen and (max-width:1440px) {
    .features {
        padding-top: 100px;
    }
}

@media screen and (max-width:992px) {
    .features {
        position: relative;
        padding-top: 0;
    }
    #features{
        z-index: -9999999999;
        position: absolute;
        top:-100px;
    }
}