.feature-card {
    max-width: 1311px;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.feature-card:nth-child(2) {
    position: sticky;
    top: calc((100vh - 100px)*0.13)
}

.feature-card:nth-child(3) {
    position: sticky;
    top: calc((100vh - 100px)*0.13);
}

.feature-card:nth-child(4) {
    position: sticky;
    top: calc(((100vh - 700px)));
    scale: .85;
}

.feed-section {
    transition: all 1s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.feed-section .container {
    overflow: hidden;
    min-height: 700px;
    height: calc((100vh - (100px + 100vh * 0.13)));
    background: linear-gradient(180deg, #2b1e41, rgba(43, 30, 65, 0)), #110d18;
    border-radius: 30px;
    box-shadow: 0 -4px 38px 0 rgba(0, 0, 0, .25);
    padding: 79px 120px;
}

.feed-section .container .feature-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.feed-section .container .feature-head h2 {
    /* background-color: red; */
    color: #f5f5f5;
    font-family: Satoshi, sans-serif;
    font-size: 52px;
    /* font-style: normal; */
    letter-spacing: normal;
    font-weight: 600;
    line-height: 120% !important;
    margin: 0;
    max-width: 840px;
    padding: 0;
    text-align: left;

}

.feed-section .container .feature-paragraph p {
    color: #c9c8c8;
    font-family: Satoshi, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 24px 0 0;
    max-width: 798px;
    padding: 0;
    text-align: left;

}

.feed-section .container .feature-paragraph p:nth-child(2) {
    color: #c9c8c8;
    font-family: Satoshi, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 24px;
    max-width: 500px;
}

.feed-section .container .feature-head img {
    max-width: 30%;
}

.feed-section .container .feature-paragraph {
    margin-top: -250px;
}

.feature-card:nth-child(3) .feed-section .container .feature-paragraph {
    margin-top: -200px;
}

.feature-card:nth-child(3) .feed-section .container .feature-head img {
    margin-top: 130px;
}


@media screen and (max-width:1450px) {
    .feed-section {
        padding: 0;
    }

    .feed-section .container {
        padding: 64px 90px
    }

    .feed-section .container .feature-head h2 {
        font-size: 48px
    }

    .feed-section .container .feature-paragraph {
        margin-top: -250px;
    }

    .feed-section .container .feature-paragraph p {
        font-size: 22px;
        /* margin-top: 100px */
    }

    .feed-section .container .feature-paragraph p:nth-child(2) {
        font-size: 20px;
        margin-top: 20px
    }

    .feed-section .container .feature-head img {
        margin-right: -50px;
        width: 25%;
        margin-top: 100px;
        /* background: #000; */
    }

    .feature-card:nth-child(3) .feed-section .container .feature-paragraph {
        margin-top: -150px;
    }

}

@media screen and (max-width:1200px) {
    .feed-section {
        padding: 0;
    }

    .feature-head {
        flex-direction: column;
    }

    .feed-section .container .feature-paragraph {
        margin-top: 0px;
    }

    .feed-section .container .feature-paragraph p {
        font-size: 22px;
        /* margin-top: 100px */
    }

    .feed-section .container .feature-paragraph p:nth-child(2) {
        font-size: 20px;
        margin-top: 20px;
        display: none;
    }

    .feed-section .container .feature-head img {
        width: 100%;
        flex: 1 1;
        margin: 10px auto;
        /* background-color: red; */
    }

    .feature-card:nth-child(3) .feed-section .container .feature-paragraph {
        margin-top: 0px;
    }
}

@media screen and (max-width:992px) {
    .feature-card {
        width: 100%;
    }

    .feed-section {
        padding: 0;
        transform: scale(1);
        width: 100%;
    }

    .feature-card:nth-child(2),
    .feature-card:nth-child(3),
    .feature-card:nth-child(4) {
        position: relative;
        top: initial;
        scale: 1;

    }

    .feed-section .container {
        /* min-height: fit-content; */
        background: linear-gradient(180deg, #2b1e41, #2b1e41), #110d18;
        border-radius: 0;
        box-shadow: 0 -1.22506px 11.63811px 0 rgba(0, 0, 0, .25);
        margin-bottom: 80px;
        padding: 44px 20px;
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        margin-bottom: 40px;
        /* background: red; */

    }

    .features .feature-card:last-child .feed-section .container {
        margin-bottom: 0px;
    }

    .feed-section .container .feature-paragraph p:nth-child(2) {
        display: none;
    }

    .feed-section .container .feature-head h2 {
        font-size: 32px !important;
        line-height: 32px;
        /* text-align: center */
    }

    .feed-section .container .feature-paragraph p {
        font-size: 20px;
    }

    .feature-card:nth-child(3) .feed-section .container .feature-head img {
        width: 100%;
        flex: 1 1;
        margin-top: 20px;
    }

    .feed-section .container .feature-head img {
        width: 100%;
        flex: 1 1;
        margin-top: 20px;
        /* scale: .8; */
    }
}