 .how-app-work {
     min-height: 2000px;
     padding-top: 90px;
     padding-bottom: 100px;
     position: static;
     background-color: var(--white-color);
     /* overflow-x: hidden; */
 }


 .how-app-work .container {
     /* max-width: 1200px; */
     padding-top: 36px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

     position: sticky;
     top: max(calc((50vw - 100px)/6), 70px);
     overflow: hidden;
     /* border: 5px solid red; */
 }

 .how-app-work .container h2 {
     z-index: 999;
     color: black;
     font-size: 56px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     margin: 0;
     padding: 0;

 }

 .how-app-work .container h2::after {
     content: "";
     display: block;
     width: 50%;
     height: 5px;
     margin: 10px auto 0px;
     background: var(--primary-gradient);

 }

 .how-app-work .container .video-container {
     z-index: -1;
     margin-top: max(calc((50vw - 100px)/6), 40px);
     /* display: flex;
     align-items: center;
     justify-content: center; */

     transform: perspective(1000px);
     max-width: 1000px;
     width: 100%;
     aspect-ratio: 2/1;
     /* background-color: red; */
     /* height: calc(100vh - 200px); */
 }

 .how-app-work .container .video-container video {
     width: 100%;
 }

 .how-app-work .container .video-container iframe {
     outline: none;
     border: none;
     width: 100%;
     height: 100%;
     /* background: #000; */
 }

 @media screen and (max-width:1450px) {
     .how-app-work {
         padding-top: 45px;
         padding-bottom: 90px
     }

     .how-app-work .container video,
     .how-app-work .container iframe {
         /* max-width: 900px; */
         /* max-width: 100vh; */
     }
 }

 @media screen and (max-width:992px) {

     #overview {
         position: absolute;
         top: 100vh;
         display: block;
         z-index: -9999999999999;
     }

     .how-app-work {
         /* background-color: #110d18; */
         min-height: fit-content;
         padding: 100px 20px;
         /* padding-bottom: 60px; */

     }

     .how-app-work .container {
         /* position: static; */
         top: initial;
         /* border: 2px solid red; */
         padding: 0;
     }

     .how-app-work .container h2 {
         color: white;
         font-size: 24px
     }

     .how-app-work .container p {
         color: #f5f5f5;
         font-size: 16px
     }

     .how-app-work .container video .how-app-work .container iframe {
         width: 100%
     }

     .how-app-work .container .video-container {
         margin-top: 0;
         padding-top: 36px;

     }

     .how-app-work .container .video-container {
         transform: none;
     }
 }