.freq-question {
    background: #110d18;
    margin-top: 0;
    padding: 134px 0;
}

.freq-question .container {
    padding: 0 180px;
    text-align: centler;
}

.freq-question .container h2 {
    color: white;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 0
}

.freq-question .container .accordion {
    margin-top: 80px;

}



@media screen and (max-width:1450px) {
    .freq-question .container {
        padding: 0 90px
    }
}

@media screen and (max-width:992px) {
    .freq-question {
        margin-top: 0;
        padding: 100px 0
    }

    .freq-question .container {
        padding: 0 20px;
        text-align: center
    }

    .freq-question .container h2 {
        font-size: 24px
    }

    .freq-question .container h5 {
        color: #f5f5f5;
        font-size: 16px;
        margin-top: 2px
    }

    .freq-question .container .accordion {
        margin-top: 36px
    }

}