:root {
  --main-color-1: #8a1e86;
  --main-color-2: #6610f2;
  --white-color: #fff;
  --dark-color: #212529;
  --paragraph-color: #2c2c2c;
  --primary-gradient: linear-gradient(93deg, #9e5cf4 .87%, #5b69e6 93.09%);

  --main-font-size: 18px;

  --main-duration: .3s;

  --main-radius: 20px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: satoshi, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  border-style: none;
}

body {
  overflow-x: hidden;
  font-family: satoshi, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}


.container {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.blur {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(200px);
  z-index: -9;
}





@media (min-width: 992px) {
  .container {
    width: 992px;
  }

  html {
    /* font-size: 22px; */
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  html {
    /* font-size: 25px; */
  }
}