.mobile-nav-section {
    display: none;
}

@media screen and (max-width:992px) {
    .mobile-nav-section {
        display: flex;
        justify-content: space-around;
        margin-top: 0px
    }

    .mobile-nav-section .mobile-pills {
        background: #fff;
        border-radius: 36px;
        display: flex;
        align-items: center;
        height: 28px;
        justify-content: space-around;
        margin: 0;
        padding: 0 18px;
        width: 150px
    }

    .mobile-nav-section .back-btn,
    .mobile-nav-section .next-btn {
        color: white;
        font-size: 25px;
        cursor: pointer;
    }

    .mobile-nav-section .mobile-pills li {
        display: inline-block;
        height: 7px;
        list-style-type: none;
        padding: 0
    }

    .mobile-nav-section .mobile-pills li a {
        height: 7px
    }

    .circle {
        width: 7px;
        height: 7px;
        background-color: #110d18;
        border-radius: 50%;
        opacity: .2;
        transition: all .5s;
    }

    .mobile-nav-section .mobile-pills li a.active.circle {
        background-color: #9752f2;
        opacity: 1;
    }
}