.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    min-height: calc(100vh - 100px);

}

.hero .hero-l {
    width: 48%;
}

.hero .hero-l .top-post {
    width: 100%;
    margin-top: 0px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.hero .hero-l h1 {
    width: 70%;
    margin-top: 30px;
    position: relative;
    color: var(--paragraph-color);
    font-size: calc(var(--main-font-size) * 2.3);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}


.hero .hero-l h1 .slideWord {
    width: fit-content;
    height: 60px;
    display: inline;
    position: absolute;
    text-indent: 8px
        /* overflow: hidden; */

}



.hero .hero-l h1 .slideWord span {
    margin-left: 10px;
    display: block;
    animation: topToBottom 4.5s linear 0s infinite;
    color: #7875ea;
    opacity: 0;
    overflow: hidden;
    position: absolute
}

.hero .hero-l h1 .slideWord span:nth-child(2) {
    animation-delay: 1.5s;
}

.hero .hero-l h1 .slideWord span:nth-child(3) {
    animation-delay: 3s;
}

@keyframes topToBottom {
    0% {
        opacity: 0
    }

    5% {
        opacity: 0;
        transform: translateY(-20px)
    }

    10% {
        opacity: 1;
        transform: translateY(0)
    }

    25% {
        opacity: 1;
        transform: translateY(0)
    }

    30% {
        opacity: 0;
        transform: translateY(20px)
    }

    80% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}


.hero .hero-l p {
    font-size: var(--main-font-size);
    margin-top: 15px;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 130%;
}



.hero .hero-l .hero-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}



.hero .hero-r {
    flex: 2 2;
}

.hero .hero-r img {
    margin-top: -60px;
    margin-left: 20px;
    max-width: 100%;
    z-index: -9999;


}

.blur {
    top: 50px;
    right: -100px;
    opacity: .7;
    background-color: #eb56e8;
}

/************************* 
  start responsive hero
*************************/
@media (max-width: 991px) {

    .blur {
        display: none;
    }

    .hero .hero-l h1 {
        /* flex: 1; */
        width: 80vw;
        max-width: 550px;
        margin-top: 30px;
        font-size: 30px;
    }

    .hero .hero-l p {
        font-size: 15px;
        width: 90vw;
        max-width: 550px;
    }

    .hero .hero-l .hero-button {
        width: 100vw;
        margin-left: -25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        row-gap: 20px;
    }

    .hero .hero-l .hero-button .TryFreeButton,
    .hero .hero-l .hero-button .BookADemo {
        margin-top: 0px;
        margin-left: 0px;
        width: calc(100vw - 50px);
    }

    .hero .hero-r img {
        display: none;
    }
}